#btnTest{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 5%;
}

#btnFly{
    color: cyan;
    
    position: absolute;
    top: 0;
    left: 100px;
    width: 100px;
    height: 5%;

    background-color: darkkhaki
}

#btntoby{
    color: burlywood;
    position: absolute;
    top: 0;
    left: 200px;
    width: 100px;
    height: 5%;
    background-color:darkmagenta
}

#cesiumContainer{
    position: absolute;
    top: 5%;
    left: 0;
    width: 80%;
    height: 75%;
}